<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOME_SYSTEM_EVENT</title>
        <meta name="automation_home" content="Using node.js & mysql">
        <link rel="stylesheet" href="/css/main.css">
        <script src="jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <p>Testowy akapit</p>
        <b></b>
        <a href='/next'> next </a>
        <b></b>
        <h1> Testowy css</h1>
    </body>
</html>